<h1>Dungeons and Dragons Monster Directory</h1>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor= "let monsters of webService.findMonsterByName | keyvalue">
        <div
          class="card text-white bg-primary mb-3"
          style="width: 50rem; margin: auto"
        >
          <div class="card-body">
            <span class = "badge">{{monsters.key}} </span>
            <span class = "name">{{monsters.value}} </span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
<!-- container -->