<h1>Dungeons and Dragons Monster Directory</h1>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor= "let monsters of webService.monster_list">
        <button type = "button" (click)="btnGetOneMonster(monsters.name)">
        <div
          class="card text-white bg-primary mb-3"
          style="width: 50rem; margin: auto"
        >
          <div class="card-body">
            <span class = "badge">{{monsters.challenge_rating}} </span>
            <span class = "name">{{monsters.name}} </span>
            <span class = "type"> {{ monsters.type }} </span>
            <span class = "type"> {{ monsters.alignment }} </span>
          </div>

          </div>
          </button>
        </div>
      </div>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
<!-- container -->
